.guest-view-container {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .guest-form {
    width: 100%;
    align-self: center;

    .add-button {
      align-self: center;
    }

    .form-actions {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;
      button {
        margin-right: 10px;
      }
      button:last-child {
        margin-right: 0px;
      }
    }
  }
}


form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
