.visits-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;


  div {
    width: 50%;
  }

  .main-content {
    display: flex;
    justify-content: center;
  }
}
