$responsive-break-size: 900px;

//Colors
$background-color: #f3f4f8;
$circle-color-0: #3fb53f;
$circle-color-1: #3f55b5;
$circle-color-2: #b53f70;

$circle-background-0: rgba(63, 181, 63, 0.12);
$circle-background-1: rgba(63, 85, 181, 0.12);
$circle-background-2: rgba(181, 63, 112, 0.12);
